*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-size: 65%;
    line-height: 1.6rem;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Roboto', sans-serif;
}
:root{
    --white-color:#fff;
    --primary-color:#EE4D2D;
    --black-color:#000;
}